.nfts {
    &__slider-wrapper {
        display: flex;
    }
    &__slider-slide {
        max-width: 152px;
        max-height: 152px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
